<h1>Add a new comment</h1>

<div>
    <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.association :list %>
        <%= f.button :submit %>
    <% end %>
</div>
